body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #19194d;
}
.container{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

section{
    height: 450px;
    width: 100%;
    padding: 100px 0px;
    background-color: #ffffff;
}
h1{
    font-size: 50px;
    margin: 0;
}
h2{
    font-size: 40px;
    margin: 0;
}
h3{
    font-size: 30px; 
    margin: 0;
}
p{
    margin-bottom: 7%;
    color: dimgrey;
}

a{
    text-decoration: none;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 40px;
    background-image: linear-gradient(45deg,#ffcc00, #ff6600);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.menu{
    width: 100%;
    height: 100px;
    padding: 30px;
    text-align: right;
}
.items{
    margin-right: 5%;
}
.items a{
    text-decoration: none;
    color: #19194d;
    padding: 0;
    background-image: none;
    box-shadow: none;
    margin-left: 25px;
}
.highlight{
    color: crimson;
}
.half-width{
    width: 43%;
    float: left;
    padding-left: 2%;
    margin-left: 3%;
}
.half-width img{
    width: 100%;
    margin-top: -15%;
}



.projects{
    width: 100%;
    height: 500px;
    background-color: rgba(230, 250, 255,0.4);
}
.projects h3{
    text-align: center;
}
.project-list{
    padding: 100px 0;
    margin: 0 5%;
}
.project-list .box{
    width: 250px;
    height: 330px;
    padding: 10px 20px;
    background-color: white;
    float: left;
    margin-left: 4%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    /*have taken suggesion from w3shcools for the shadow*/
}

.project-list img{
    width: 100%;
}

.newsletter{
    width: 100%;
    height: 180px;
    padding: 100px 0;
}

.newsletter .chat-box{
    width: 60%;
    height: 160px;
    margin: 0 auto;
    padding: 10px 15px;
    background-image: url(./images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 35px;
}

.chat-box h2{
    color: white;
    margin-left: 30px;
    margin-top: 55px;
}
.chat-box a{
    float: right;
    margin-right: 30px;
    margin-top: -55px;
}

.gallery{
    background-color: rgba(230, 250, 255,0.4);
    width: 100%;
    height: 500px;
    padding: 100px 0;
    margin: 0;
}
.gallery h2{
    font-size: 40px;
    padding: 20px 0;
    margin-top: -5%;
    text-align: center;
}
.gallery .images{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    padding: 20px;
}

.gallery .images img{
    width: 300px;
    height: 200px;
    padding: 5px;
    margin-left: 2%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

footer{
    width: 100%;
    height: 200px;
    text-align: center;
    padding: 100px 0px;
}

footer h4{
    color: dimgrey;
}
footer h3{
    margin-bottom: 10px;
}

footer .social-logo img{
    width: 40px;
    height: 40px;
    margin: 10px 10px;
}